body{
    display: flex;
    align-items: flex-start;
    align-content: safe flex-start;
    justify-content: center;
    flex-wrap: wrap;
    background: #0f0f0f;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    user-select: none;
    overflow: hidden;
    white-space: pre-wrap;
}
.index .header_area,
.index .header_space{
    width: 100%;
    height: 7%;
}
.index .header_area{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transition: 0.5s ease-in-out;
    backdrop-filter: blur(10px);
    background: rgba(10,10,10,0.5);
    box-shadow: 0 5px 10px rgba(174, 60, 70,0.2), 0 1.25px 0 rgba(174, 60, 70,0.85);
    filter: drop-shadow(0 0 12.5px rgba(174, 60, 70,0.85));
    border-radius: 0;
    z-index: 999;
    overflow: hidden;
}
.index.header .header_area{
    width: 87.5%;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 0 10px rgba(174, 60, 70,0.2), 0 0 0 1.25px rgba(174, 60, 70,0.85);
}
.header_area > .button{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    width: fit-content;
    position: relative;
    height: 100%;
    margin: 0 0.5vw;
    padding: 0 4.5vw;
    color: #c5bebe;
    transition: 0.3s ease-in-out;
    font-size: 0.7vw;
}
.header_area > .button > .icon{
    position: absolute;
    display: flex;
    align-items: end;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 45%;
    color: white;
    font-size: 1vw;
}
.header_area > .button > .label{
    position: absolute;
    display: flex;
    align-items: start;
    justify-content: center;
    text-align: center;
    height: 45%;
    top: 55%;
    font-family:"grange-condensed", sans-serif;
    font-weight:400;
    letter-spacing: 0.125vw;
}
.header_area > .button:hover{
    background: rgba(10,10,10,0.5);
}
.header_area > .button.active{
    background: rgba(10,10,10,0.85);
}
.header_area > .button.active:hover{
    background: rgba(10,10,10,0.7);
}
.index #footer_space{
    width: 100%;
    height: 7.5%;
}
.index .footer_area{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    height: 0;
    transition: 0.05s linear;
    bottom: -5px;
    position: absolute;
    backdrop-filter: blur(10px);
    box-shadow: 0 -5px 10px rgba(174, 60, 70,0.2), 0 0 0 1.25px rgba(174, 60, 70,0.85);
    filter: drop-shadow(0 0 12.5px rgba(174, 60, 70,0.85));
    aspect-ratio: 1/1;
    background-image: url(../img/footer.logo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: calc(100% - 4vw) 100%;
    padding: 0 2vw;
    z-index: 999;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}
.notice{
    position: absolute;
    bottom: 0;
    opacity: 0.0;
    right: 2vw;
    transform: translate(0, 50%);
    font-family:"grange-condensed", sans-serif;
    font-weight:400;
    letter-spacing: 0.1vw;
    font-size: 0.8vw;
    color: #AE3C46;
    text-shadow: 0 0 1vw #AE3C46;
    transition: 0.5s ease-in-out;
}
.index.footer .notice{
    opacity: 1.0;
    bottom: 3.75%;
}
.index #page_area{
    display: flex;
    align-items: start;
    align-content: safe start;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden auto;
    scroll-behavior: smooth;
    transition: 0.5s ease-in-out;
}

.line{
    width: 87.5%;
    height: 0.2vh;
    background: #AE3C46;
    box-shadow: 0 0 10px rgba(174, 60, 70,1);
    opacity: 1;
    border-radius: 1000px;
}
.hero{
    display: flex;
    align-items: center;
    align-content: safe center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 20%;
    font-family:"grange-condensed", sans-serif;
    font-weight:400;
    letter-spacing: 0.1vw;
    color: #c5bebe;
}
.hero > .logo{
    display: flex;
    align-items: end;
    justify-content: center;
    text-align: center;
    position: relative;
    font-size: 3.85vw;
    width: 100%;
    font-family: "eurostile-extended", sans-serif;
    font-weight: 900;
    font-style: italic;
    color: #AE3C46;
    text-shadow: 0 0 3vw #AE3C46;
    
}
.hero > .logo:after{
    content: 'XDEVELOPMENT';
    position: absolute;
    transform: scaleY(-0.75);
    bottom: -54%;
    color: rgba(0,0,0,0);
    text-shadow: none;
    -webkit-text-stroke: 0.06vw #AE3C46;
    opacity: 0.4;
}
.hero > .label{
    display: flex;
    align-items: end;
    justify-content: center;
    text-align: center;
    padding: 5vh 0 1vh 0;
    width: 100%;
    font-size: 2.5vh;
}
.hero > .description{
    display: flex;
    align-items: start;
    justify-content: center;
    text-align: center;
    width: 40%;
    font-size: 1.75vh;
}
.hero > .scroll{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    width: 100%;
    transition: 0.1s ease-in-out;
    font-size: 1vw;
}
.hero > .scroll .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    width: 100%;
    bottom: 125%;
    transform: translate(0, 50%);
    height: 5vh;
    animation: scroll_icon infinite 2s;
}
.hero:not(.scroll) > .scroll{
    opacity: 0.0;
}
@keyframes scroll_icon {
    0%{
        bottom: 125%;
    }
    50%{
        bottom: 175%;
    }
    100%{
        bottom: 125%;
    }
}
.hero > .scroll .label{
    display: flex;
    align-items: start;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 5vh;
}

.options{
    display: flex;
    align-items: center;
    align-content: safe center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 15%;
    padding-bottom: 5vh;
    font-family:"grange-condensed", sans-serif;
    font-weight:400;
    letter-spacing: 0.1vw;
    color: #c5bebe;
}
.options > .option{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 20%;
    margin: 0 1.25%;
    height: 100%;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
    padding: 1vh 0;
    transition: 0.5s ease-in-out;
}
.options > .option:hover{
    transform: translateY(-0.35vh);
}
.options > .option > .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: calc(15% - 1vw);
    background: rgba(174, 60, 70,1);
    border-radius: 5px;
    height: 20%;
    margin: 0 0 0 1vw;
    font-size: 1.5vh;
}
.options > .option > .label{
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    width: calc(85% - 2vw);
    margin: 0 1vw;
    height: 20%;
    font-size: 1.5vh;
    font-family: "eurostile-extended", sans-serif;
    font-weight: 900;
    color: white;
    font-style: normal;
}
.options > .option > .description{
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    width: calc(100% - 2vw);
    margin: 0 1vw;
    height: 80%;
    font-size: 1.5vh;
}

.features, .infos{
    width: 80%;
    height: fit-content;
}
.infos > .label,
.features > .label{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: "eurostile-extended", sans-serif;
    font-weight: 900;
    color: white;
    font-style: italic;
    width: 100%;
    height: 10vh;
    font-size: 7.5vh;
    color: white;
}
.infos > .label{
    font-size: 5vh;
}
.infos > .description,
.features > .description{
    display: flex;
    align-items: end;
    justify-content: center;
    text-align: center;
    padding: 0vh 0 1vh 0;
    width: 100%;
    font-size: 2vh;
    font-family:"grange-condensed", sans-serif;
    font-weight:400;
    letter-spacing: 0.1vw;
    color: #c5bebe;
}
.features > .lists{
    display: flex;
    align-items: center;
    align-content: safe center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
}
.features > .lists > .list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: calc(20% - 2.5vw);
    height: 27.5vh;
    margin: 1.25vw;
    font-family:"grange-condensed", sans-serif;
    font-weight:400;
    letter-spacing: 0.1vw;
    color: #c5bebe;
    border: 1px solid rgba(255, 255, 255, .09);
    background: rgba(255, 255, 255, .04);
    border-radius: 10px;
    padding: 2vh 0;
    transition: 0.5s ease-in-out;
}
.features > .lists > .list:hover{
    border: 1px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 15px rgba(255, 255, 255, .2);
    transform: translateY(-0.25vh);
}
.features > .lists > .list > .banner{
    width: calc(100% - 2vw);
    height: 52.5%;
    border-radius: 0.5vw;
    filter: drop-shadow(0 0 5px black);
    background-color: rgba(255, 255, 255, .04);
    background-image: url(../img/wallpaper.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    
}
.features > .lists > .list > .label{
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: left;
    width: calc(100% - 2vw);
    height: 15%;
    font-size: 1.5vh;
    transform: scaleY(1.6);
    font-family: "eurostile-extended", sans-serif;
    font-weight: 900;
    color: white;
    font-style: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.features > .lists > .list > .price{
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: left;
    width: calc(100% - 2vw);
    height: 15%;
    font-family: "loos-normal", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.features > .lists > .list > .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - 1vw);
    height: 20%;
}
.features > .lists > .list > .buttons > .button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(49.5%);
    height: 70%;
    margin: 0 0.25vw;
    font-family: "loos-normal", sans-serif;
    font-weight: 300;
    font-style: normal;
    letter-spacing: 0.1vw;
    color: #c5bebe;
    border: 2px solid rgba(255, 255, 255, .09);
    background: rgba(255, 255, 255, .04);
    border-radius: 6.5px;
    transition: 0.3s ease-in-out;
}
.features > .lists > .list > .buttons > .button.subscribe,
.features > .lists > .list > .buttons > .button.purchase{
    color: #AE3C46;
    border: 2px solid rgba(174, 60, 70, 1);
    background: rgba(255, 255, 255, .04);
}
.features > .lists > .list > .buttons > .button > .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 30%;
    height: 100%;
    font-size: 0.75vw;
}
.features > .lists > .list > .buttons > .button > .label{
    display: flex;
    align-items: center;
    justify-content: start;
    text-align: left;
    width: 70%;
    height: 100%;
    font-size: 0.55vw;
}
.features > .lists > .list > .buttons > .button:hover{
    color: rgb(25,25,25);
    background: #c5bebe;
    transform: translateY(0.125vh);
}
.features > .lists > .list > .buttons > .button.subscribe:hover,
.features > .lists > .list > .buttons > .button.purchase:hover{
    color: rgb(25,25,25);
    background: #AE3C46;
}


.infos > .lists{
    display: flex;
    align-items: center;
    align-content: safe center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: fit-content;
}
.infos > .lists > .list{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: calc(35% - 2.5vw);
    height: 12.5vh;
    margin: 1.25vw;
    font-family:"grange-condensed", sans-serif;
    font-weight:400;
    letter-spacing: 0.1vw;
    color: #c5bebe;
    border: 1px solid rgba(255, 255, 255, .09);
    background: rgba(255, 255, 255, .04);
    border-radius: 10px;
    padding: 2vh 0;
    transition: 0.5s ease-in-out;
}
.infos > .lists > .list:hover{
    border: 1px solid rgba(255, 255, 255, .2);
    box-shadow: 0 0 15px rgba(255, 255, 255, .2);
    transform: translateY(-0.25vh);
}
.infos > .lists > .list > .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: calc(15% - 1vw);
    background: rgba(174, 60, 70,1);
    border-radius: 5px;
    height: 35%;
    margin: 0 0 0 1vw;
    font-size: 1.5vh;
}
.infos > .lists > .list > .label{
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    width: calc(85% - 2vw);
    margin: 0 1vw;
    height: 35%;
    font-size: 1.5vh;
    transform: scaleY(1.15);
    font-family: "eurostile-extended", sans-serif;
    font-weight: 900;
    color: white;
    font-style: normal;
}
.infos > .lists > .list > .description{
    display: flex;
    align-items: center;
    justify-content: left;
    text-align: left;
    width: calc(100% - 2vw);
    margin: 0 1vw;
    height: 60%;
    font-size: 1.5vh;
}

/*DO NOT TOUCH*/
*::-webkit-scrollbar
{
    width: 0px;
    background-color: transparent;
}     
*::-webkit-scrollbar-thumb
{
    border-radius: 100px;
    background-color: #000000;
}